array_dataset.csv
fetch_from_db_and_detect_pattern3.py
fictief_5_consecutive_neg_smooth.py
fictief_neg_but1.py
fictief_neg_but2.py
fictief_neg_but3.py
fictief_neg_but.py
fictief_neg_random_8_consecutive.py
fictief_neg_random_8_consecutive_smooth.py
fictief_pos_but4.py
fictief_pos.py
fictief.py
generate_synthetic5.py
insert-llm-generated-array-into-db.py
llm-generated-array
llm-generated-prompt
market_cap_predictions.csv
my_model.keras
overview
prompt-based-script-generator.py
prompt-synthetic
__pycache__
report.py
simple2.py
simple3.py
simple4.py
simple_condition
simple.py
training_script.py
verify_model_behaviour.py
X_test.npy
X_train.npy
X_val.npy
y_test.npy
y_train.npy
y_val.npy
